<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SGC - Sistema de Gerenciamento de Catálogos</title>
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/forms/registerUser.css">
    <link rel="stylesheet" href="/css/forms/login.css">
</head>
<body>
    <div th:replace="fragments/header :: header"></div>
    <main>
        <div th:replace="~{__${content}__}"></div>
    </main>
    <div th:replace="fragments/footer :: footer"></div>
</body>
</html>