<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SGC - Sistema de Gerenciamento de Catálogos</title>
</head>
<body>
     <!-- <div th:replace="fragments/header :: header"></div>
    <main>
        <div th:replace="~{__${content}__}"></div>
    </main>
    <div th:replace="fragments/footer :: footer"></div> -->
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Illum omnis natus architecto asperiores laborum, nesciunt ab fuga quis praesentium tempora non perspiciatis quam? Sed quaerat, dicta distinctio quae fugit soluta?
</body>
</html>