* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Variáveis globais */
:root {
    /* Fontes */
    --font-main: 'Arial', sans-serif;

    /* Cores */
    --bg-main: #363636;
    --bg-dark: #1A1A2E;
    --bg-light: #404040;

    --text-main: #FFFFFF;
    --text-secondary: #CCCCCC;

    --accent: #00ADB5;
    --accent-hover: #00969D;
}


html, body {
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(110deg, #1A1A2E, #16213E);
    color: var(--text-main);
    height: 100%;
    margin: 0;
} 

body{
    display: flex;
    flex-direction: column;
    padding: 2%;
}

main{
    width: 100%;
    height: 75%;
    margin-top: 113px;
    background: linear-gradient(135deg, #1A1A2E, #16213E);
    color: white;
    padding: 15px 0;
}

section{
    width: 96%;
    height: 100%;
    margin: auto;
    background-color: #404040;
    border-radius: 8px;
    padding: 20px;
}

