header{
    position: fixed; 
    top: 0;
    width: 96%;
    height: 120px;
    background: linear-gradient(135deg, #1A1A2E, #16213E);
    color: white;
    padding: 10px 0;
    border-bottom: 2px solid #cccccc26;
    margin: 20px 0;
}

.header-title {
    width: 100%;
    height: auto;
    
    color: white;
    padding: 10px 0;
    text-align: center;
    font-family: 'Arial', sans-serif;
}

.header-nav{
    width: 100%;
    height: auto;
    padding: 10px 0;
}

ul{
    list-style: none;
    display: flex;
    justify-content: center;
}

li{
    margin: 0 15px;
    text-decoration: none;
}

a{
    text-decoration: none;
    color: white;
    font-family: 'Arial', sans-serif;
    padding: 5px 10px;
}

a:hover{
    color: #008fa4;
    transition: 0.3s;
}